{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <form action="{{url_for('registerPage')}}" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input style="max-width: 500px" class="form-control" type="text" id="name" name="name" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="about">About</label>
                <input class="form-control" type="text" id="about" name="about" placeholder="About">
            </div>
            <!-- <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Email">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password">
            </div> -->
            <button class="btn btn-primary" type="submit">Submit!</button>
        </form>
    </div>
{% endblock %}